<h2>Nueva cuenta</h2>

<form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <input type="submit" value="Enviar">

    <p>¿Ya tienes cuenta?</p>
    <a class="" routerLink="/login">Iniciar sesión</a>
</form>